.project
PresentationJavaExamples/.classpath
PresentationJavaExamples/.settings/org.eclipse.jdt.core.prefs
PresentationKotlinExamples/.classpath
KotlinExamples/.classpath
*.class
JavaExamples/.classpath.rej
JavaExamples/.settings/org.eclipse.jdt.core.prefs.rej
JavaExamples/.classpath
Interop/bin/
*.classpath
*.rej
PrinterJavaExample/bin/
PrinterKotlinExample/bin/
KotlinApp/src/main/resources/static/node_modules/
KotlinApp/src/main/webapp/node_modules/
