@import "../../node_modules/font-awesome/scss/font-awesome";

body {
	margin: 0;
}

#wrapper {
	max-width: 700px;
	margin: 0 auto;
	height: 100%;
	
	#appContent {
		border: solid 1px #d9d9d9;
		overflow: hidden;
		height: 100%;
	}
}


.question-button {
    text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
